---
import Layout from "../../layouts/Layout.astro";
import PostBox from "@components/PostBox.astro";
import { getCollection, type CollectionEntry } from "astro:content";

const posts = (await getCollection("posts")).sort(
  (a: CollectionEntry<"posts">, b: CollectionEntry<"posts">) =>
    new Date(b.data.publishedAt).getTime() -
    new Date(a.data.publishedAt).getTime(),
);
---

<Layout og_type="website">
  <div>
    {
      posts.map((post: any) => (
        <>
          <div class="divider my-2" />
          <PostBox
            title={post.data.title}
            publishedAt={post.data.publishedAt}
            description={post.data.description}
            href={post.slug}
          />
        </>
      ))
    }
  </div>
</Layout>
